[submodule "frontend/lib/aresta_api"]
	path = frontend/lib/aresta_api
	url = https://github.com/aresta-climb/aresta_api.git
[submodule "frontend/legal/repo"]
	path = frontend/legal/repo
	url = https://github.com/aresta-climb/arestaclimb.com.git
