[submodule "kmon-api"]
	path = kmon-api
	url = https://github.com/acecmg/kmon-api.git
[submodule "libs"]
	path = libs
	url = https://github.com/acecmg/kmon-api.git
[submodule "kmon_api"]
	path = kmon_api
	url = https://github.com/acecmg/kmon_api.git
